In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,12,Richards Bay,ZA,77.52,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
1,21,Salto De Agua,MX,86.00,17.6167,-92.3667,NaN
2,24,Acarau,BR,80.35,-2.8856,-40.1200,castelo pizzaria
3,28,Navrongo,GH,78.19,10.8956,-1.0921,Azakka Hotel
4,35,Sawtell,AU,78.01,-30.3833,153.1000,Island Beach House Sawtell

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [58]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-30.0, 100.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Yulara']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Yulara']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Maryborough']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Carnarvon'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Bowen']
vacation_stop3

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
11,60,Bowen,AU,77.0,-20.0167,148.2333,Castle Motor Lodge Motel

In [60]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,4:6].to_numpy()
end = vacation_end.iloc[0,4:6].to_numpy()
stop1 = vacation_stop1.iloc[0,4:6].to_numpy()
stop2 = vacation_stop2.iloc[0,4:6].to_numpy()
stop3 = vacation_stop3.iloc[0,4:6].to_numpy()

start

array([-25.2406, 130.9889], dtype=object)

In [61]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(-20, 140), zoom_level = 4)
Yulara = start
Maryborough = stop1
Carnarvon = stop2
Bowen = stop3 
roadtrip = gmaps.directions_layer(Yulara, Yulara, 
                                  waypoints=[Maryborough, Carnarvon, Bowen],
                                  travel_mode="DRIVING")

In [62]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,549,Yulara,AU,84.2,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
1,596,Maryborough,AU,81.0,-25.5333,152.7000,Blue Shades Motel
2,265,Carnarvon,AU,80.6,-24.8667,113.6333,Hospitality Carnarvon
3,60,Bowen,AU,77.0,-20.0167,148.2333,Castle Motor Lodge Motel

In [63]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [68]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(roadtrip)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))